In [23]:
# import config # to hide TMDB API keys
import requests # to make TMDB API calls
import locale # to format currency as USD 
# locale.setlocale( locale.LC_ALL, '' )
import pandas

import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter # to format currency on charts axis

api_key = "5083baab3fb25b1e8a35ff20f5cc2539"
api_key2 = "eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1MDgzYmFhYjNmYjI1YjFlOGEzNWZmMjBmNWNjMjUzOSIsInN1YiI6IjVmYTNjZTk2NDM0OTRmMDAzZTE3YTE0ZCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.djtejExijC0WjowuedMC3vD-YKoYYETrkAlkjhZONq0"

In [24]:
# response = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=' +  api_key + '&primary_release_year=2017&sort_by=revenue.desc')

In [25]:
# response = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=' +  api_key)

In [26]:
# response = requests.get('https://api.themoviedb.org/4/list/1?api_key=' + api_key2)

In [27]:
response = requests.get('https://api.themoviedb.org/3/genre/movie/list?api_key=' +  api_key)
genre = response.json()

In [9]:
# pages =  list(range(movies_by_gen['page'], movies_by_gen['total_pages']+1))

In [11]:
# movies_by_gen = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=' + api_key + '&with_genres=' + z + '&page=1')

In [32]:
# movies_by_gen = movies_by_gen.json()
# movies_by_gen = movies_by_gen['results']
# movies_by_gen

In [14]:
# movies_by_gen[19]['original_title']

In [15]:
# columns = ['original_title', 'vote_average']
# movies_df = pandas.DataFrame(columns=columns)

In [29]:
genres = []
for genre in genre['genres']:
    genres.append(genre['id'])

In [30]:
genres = [str(genre) for genre in genres]

In [10]:
pages = list(range(1, 501))
pages = [str(page) for page in pages]

In [34]:
df = []
for genre in genres:
    for page in pages:
        movies = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=' + api_key + '&with_genres=' + genre + '&page=' + page)
        movies = movies.json()`
        movies = movies['results']
        data = pd.DataFrame.from_records(movies)
        df.append(data)
df = pd.concat(df)
# , columns=['original_title', 'vote_average']

In [51]:
df.shape

(182877, 14)

In [52]:
df.to_csv('df_movies.csv')

In [53]:
df_clean = df.copy()

In [58]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182877 entries, 0 to 18
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   adult              182877 non-null  bool
 1   backdrop_path      115738 non-null  object
 2   genre_ids          182877 non-null  object
 3   id                 182877 non-null  int64
 4   original_language  182877 non-null  object
 5   original_title     182877 non-null  object
 6   overview           182877 non-null  object
 7   popularity         182877 non-null  float64
 8   poster_path        164710 non-null  object
 9   release_date       182574 non-null  object
 10  title              182877 non-null  object
 11  video              182877 non-null  bool
 12  vote_average       182877 non-null  float64
 13  vote_count         182877 non-null  int64
dtypes: bool(2), float64(2), int64(2), object(8)
memory usage: 18.5+ MB

In [78]:
df_clean.drop('genre_ids', axis=1, inplace=True)

In [81]:
df_clean.drop_duplicates(inplace=True)

In [82]:
df_clean.id.value_counts()

524288    1
46659     1
566849    1
306752    1
267269    1
         ..
116065    1
651541    1
639251    1
73999     1
2047      1
Name: id, Length: 116800, dtype: int64

In [83]:
df_clean.shape

(116800, 13)

In [222]:
response = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=' +  api_key + '&sort_by=revenue.desc')
highest_revenue_ever = response.json()
highest_revenue_films_ever = highest_revenue_ever['results']

columns = ['film', 'revenue', 'budget', 'release_date']
highest_revenue_ever_df = pandas.DataFrame(columns=columns)

for film in highest_revenue_films_ever:
    # print(film['title'])
   
    film_revenue = requests.get('https://api.themoviedb.org/3/movie/'+ str(film['id']) +'?api_key='+ api_key+'&language=en-US')
    film_revenue = film_revenue.json()
    # print(film_revenue)

    # print(locale.currency(film_revenue['revenue'], grouping=True ))
    
    # Lord of the Rings duplicate w/ bad data was being returned  https://www.themoviedb.org/movie/454499-the-lord-of-the-rings
    # It's budget was $281 which is way too low for a top-earning film. Therefore in order to be added to dataframe the film 
    # budget must be greater than $281.
    
    if film_revenue['budget'] > 281:
        # print(film_revenue['budget'])
        # add film title, revenue, budget and release date to the dataframe
        highest_revenue_ever_df.loc[len(highest_revenue_ever_df)]=[film['title'],film_revenue['revenue'], (film_revenue['budget'] * -1), film_revenue['release_date']]

highest_revenue_ever_df.head()

                           film     revenue      budget release_date
0             Avengers: Endgame  2797800564  -356000000   2019-04-24
1                        Avatar  2787965087  -237000000   2009-12-10
2                       Titanic  2187463944  -200000000   1997-11-18
3  Star Wars: The Force Awakens  2068223624  -245000000   2015-12-15
4        Avengers: Infinity War  2046239637  -300000000   2018-04-25

In [133]:
# highest_revenue_ever_df.shape

NameError: name 'highest_revenue_ever_df' is not defined