In [29]:
# import config # to hide TMDB API keys
import requests # to make TMDB API calls
import locale # to format currency as USD 
# locale.setlocale( locale.LC_ALL, '' )
import pandas

import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter # to format currency on charts axis

api_key = "5083baab3fb25b1e8a35ff20f5cc2539"
api_key2 = "eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1MDgzYmFhYjNmYjI1YjFlOGEzNWZmMjBmNWNjMjUzOSIsInN1YiI6IjVmYTNjZTk2NDM0OTRmMDAzZTE3YTE0ZCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.djtejExijC0WjowuedMC3vD-YKoYYETrkAlkjhZONq0"

In [30]:
# response = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=' +  api_key + '&primary_release_year=2017&sort_by=revenue.desc')

In [31]:
# response = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=' +  api_key)

In [32]:
# response = requests.get('https://api.themoviedb.org/4/list/1?api_key=' + api_key2)

In [125]:
response = requests.get('https://api.themoviedb.org/3/genre/movie/list?api_key=' +  api_key)
genre = response.json()

In [126]:
# pages =  list(range(movies_by_gen['page'], movies_by_gen['total_pages']+1))

In [127]:
movies_by_gen = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=' + api_key + '&with_genres=' + genres[0] + '&page=1')

In [128]:
movies_by_gen = movies_by_gen.json()

In [136]:
movies_by_gen['page']

1

In [137]:
movies_by_gen['total_pages']

500

In [131]:
movies_by_gen_res = movies_by_gen['results']

In [132]:
data_temp = pd.DataFrame(data=movies_by_gen_res)
columns_list = list(data_temp.columns)

In [74]:
indices = 0, 2, 4, 11
columns_list = [i for j, i in enumerate(columns_list) if j not in indices]

In [75]:
columns_list

['backdrop_path',
 'id',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'release_date',
 'title',
 'vote_average',
 'vote_count']

In [14]:
# movies_by_gen[19]['original_title']

In [15]:
# columns = ['original_title', 'vote_average']
# movies_df = pandas.DataFrame(columns=columns)

In [76]:
genres = []
for genre in genre['genres']:
    genres.append(genre['id'])

In [77]:
genres = [str(genre) for genre in genres]

In [141]:
pages = list(range(movies_by_gen['page'], movies_by_gen['total_pages'] + 1))
pages = [str(page) for page in pages]

In [80]:
df = []
for genre in genres:
    for page in pages:
        movies = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=' + api_key + '&with_genres=' + genre + '&page=' + page)
        movies = movies.json()
        movies = movies['results']
        data = pd.DataFrame(data=movies, columns=columns_list)
        df.append(data)
df = pd.concat(df)
# , columns=['original_title', 'vote_average']

In [81]:
df.shape

(182879, 10)

In [82]:
df.head()

,backdrop_path,id,original_title,overview,popularity,poster_path,release_date,title,vote_average,vote_count
0,/9yBVqNruk6Ykrwc32qrK2TIE5xw.jpg,460465,Mortal Kombat,"Washed-up MMA fighter Cole Young, unaware of h...",4614.697,/xGuOF1T3WmPsAcQEQJfnG7Ud9f8.jpg,2021-04-07,Mortal Kombat,7.8,2079
1,/inJjDhCjfhh3RtrJWBmmDqeuSYC.jpg,399566,Godzilla vs. Kong,"In a time when monsters walk the Earth, humani...",2543.473,/pgqgaUx1cJb5oZQQ5v0tNARCeBp.jpg,2021-03-24,Godzilla vs. Kong,8.2,5255
2,/mYM8x2Atv4MaLulaV0KVJWI1Djv.jpg,804435,Vanquish,Victoria is a young mother trying to put her d...,2363.266,/AoWY1gkcNzabh229Icboa1Ff0BM.jpg,2021-04-16,Vanquish,6.2,56
3,/6zbKgwgaaCyyBXE4Sun4oWQfQmi.jpg,615457,Nobody,"Hutch Mansell, a suburban dad, overlooked husb...",2143.013,/oBgWY00bEFeZ9N25wWVyuQddbAo.jpg,2021-03-26,Nobody,8.5,1149
4,/3FVe3OAdgz060JaxIAaUl5lo6cx.jpg,635302,劇場版「鬼滅の刃」無限列車編,"Tanjirō Kamado, joined with Inosuke Hashibira,...",1718.449,/yF45egpHwaYLn4jTyZAgk0Cmug9.jpg,2020-10-16,Demon Slayer -Kimetsu no Yaiba- The Movie: Mug...,8.3,814

In [52]:
# df.to_csv('df_movies.csv')

In [98]:
df_clean = df.copy()

In [99]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182879 entries, 0 to 17
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   backdrop_path   116935 non-null  object
 1   id              182879 non-null  object
 2   original_title  182879 non-null  object
 3   overview        182879 non-null  object
 4   popularity      182879 non-null  float64
 5   poster_path     164959 non-null  object
 6   release_date    182545 non-null  object
 7   title           182879 non-null  object
 8   vote_average    182879 non-null  float64
 9   vote_count      182879 non-null  object
dtypes: float64(2), object(8)
memory usage: 15.3+ MB

In [100]:
# df_clean.drop('genre_ids', axis=1, inplace=True)

In [101]:
df_clean.drop_duplicates(inplace=True)

In [102]:
df_clean.id.value_counts()

524288    1
676305    1
676287    1
414142    1
414137    1
         ..
62772     1
267986    1
62769     1
62768     1
786427    1
Name: id, Length: 116960, dtype: int64

In [103]:
df_clean.shape

(116960, 10)

In [104]:
df_clean.to_csv('df_movies.csv', index=False)

In [117]:
df_clean = pd.read_csv('df_movies.csv')

In [118]:
df_clean['release_date'] = pd.to_datetime(df_clean['release_date'])

In [120]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116960 entries, 0 to 116959
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   backdrop_path   66252 non-null   object
 1   id              116960 non-null  int64
 2   original_title  116960 non-null  object
 3   overview        110174 non-null  object
 4   popularity      116960 non-null  float64
 5   poster_path     101826 non-null  object
 6   release_date    115080 non-null  datetime64[ns]
 7   title           116960 non-null  object
 8   vote_average    116960 non-null  float64
 9   vote_count      116960 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(5)
memory usage: 8.9+ MB

In [122]:
df_clean.describe()

                  id     popularity   vote_average     vote_count
count  116960.000000  116960.000000  116960.000000  116960.000000
mean   294914.052668       5.578867       4.738307     126.964603
std    244872.520916      25.568906       2.794557     779.443833
min         2.000000       0.000000       0.000000       0.000000
25%     66862.750000       1.200000       3.500000       1.000000
50%    248229.500000       3.248500       5.700000       5.000000
75%    481813.250000       6.732000       6.700000      23.000000
max    826568.000000    4614.697000      10.000000   28967.000000

In [222]:
response = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=' +  api_key + '&sort_by=revenue.desc')
highest_revenue_ever = response.json()
highest_revenue_films_ever = highest_revenue_ever['results']

columns = ['film', 'revenue', 'budget', 'release_date']
highest_revenue_ever_df = pandas.DataFrame(columns=columns)

for film in highest_revenue_films_ever:
    # print(film['title'])
   
    film_revenue = requests.get('https://api.themoviedb.org/3/movie/'+ str(film['id']) +'?api_key='+ api_key+'&language=en-US')
    film_revenue = film_revenue.json()
    # print(film_revenue)

    # print(locale.currency(film_revenue['revenue'], grouping=True ))
    
    # Lord of the Rings duplicate w/ bad data was being returned  https://www.themoviedb.org/movie/454499-the-lord-of-the-rings
    # It's budget was $281 which is way too low for a top-earning film. Therefore in order to be added to dataframe the film 
    # budget must be greater than $281.
    
    if film_revenue['budget'] > 281:
        # print(film_revenue['budget'])
        # add film title, revenue, budget and release date to the dataframe
        highest_revenue_ever_df.loc[len(highest_revenue_ever_df)]=[film['title'],film_revenue['revenue'], (film_revenue['budget'] * -1), film_revenue['release_date']]

highest_revenue_ever_df.head()

                           film     revenue      budget release_date
0             Avengers: Endgame  2797800564  -356000000   2019-04-24
1                        Avatar  2787965087  -237000000   2009-12-10
2                       Titanic  2187463944  -200000000   1997-11-18
3  Star Wars: The Force Awakens  2068223624  -245000000   2015-12-15
4        Avengers: Infinity War  2046239637  -300000000   2018-04-25

In [133]:
# highest_revenue_ever_df.shape

NameError: name 'highest_revenue_ever_df' is not defined