In [7]:
# import config # to hide TMDB API keys
import requests # to make TMDB API calls
import locale # to format currency as USD 
# locale.setlocale( locale.LC_ALL, '' )
import pandas

import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter # to format currency on charts axis

api_key = "5083baab3fb25b1e8a35ff20f5cc2539"
api_key2 = "eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1MDgzYmFhYjNmYjI1YjFlOGEzNWZmMjBmNWNjMjUzOSIsInN1YiI6IjVmYTNjZTk2NDM0OTRmMDAzZTE3YTE0ZCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.djtejExijC0WjowuedMC3vD-YKoYYETrkAlkjhZONq0"

In [224]:
highest_revenue_ever_df.shape

(20, 4)

In [213]:
# response = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=' +  api_key + '&primary_release_year=2017&sort_by=revenue.desc')

In [2]:
# response = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=' +  api_key)

In [215]:
# response = requests.get('https://api.themoviedb.org/4/list/1?api_key=' + api_key2)

In [115]:
response = requests.get('https://api.themoviedb.org/3/genre/movie/list?api_key=' +  api_key)

In [116]:
genre = response.json()

In [117]:
genres = []
for genre in genre['genres']:
    genres.append(genre['id'])

In [118]:
z = str(genres[0])

In [119]:
# pages =  list(range(movies_by_gen['page'], movies_by_gen['total_pages']+1))

In [131]:
pages = list(range(1, 501))

In [120]:
movies_by_gen = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=' + api_key + '&with_genres=' + z + '&page=1')

In [121]:
movies_by_gen = movies_by_gen.json()
movies_by_gen = movies_by_gen['results']

In [128]:
movies_by_gen[20]['original_title']

IndexError: list index out of range

In [99]:
# columns = ['original_title', 'vote_average']
# movies_df = pandas.DataFrame(columns=columns)

In [ ]:
df = []
for infile in glob.glob("*.xlsx"):
    data = pandas.read_excel(infile)
    # store DataFrame in list
    appended_data.append(data)
# see pd.concat documentation for more info
appended_data = pd.concat(appended_data)
# write DataFrame to an excel sheet 
appended_data.to_excel('appended.xlsx')

In [124]:
df = pd.DataFrame(movies_by_gen, columns=['original_title', 'vote_average'])

In [126]:
df

                               original_title  vote_average
0                               Mortal Kombat           7.8
1                           Godzilla vs. Kong           8.2
2                                    Vanquish           6.1
3                                      Nobody           8.5
4                              劇場版「鬼滅の刃」無限列車編           8.3
5                                The Marksman           7.5
6                Zack Snyder's Justice League           8.5
7                               Thunder Force           5.8
8                               Chaos Walking           7.3
9                    Raya and the Last Dragon           8.2
10                             Monster Hunter           7.1
11                                   新神榜：哪吒重生           8.8
12                           Outside the Wire           6.5
13                                   Bajocero           6.4
14  Mortal Kombat Legends: Scorpion's Revenge           8.3
15                                 Sentinelle           6.0
16                          Wonder Woman 1984           6.7
17                                      Twist           6.9
18                                        백두산           6.6
19                                        急先锋           6.2

In [102]:
movies_df.head()

Empty DataFrame
Columns: [original_title, vote_average]
Index: []

In [ ]:
movies_df.loc[len(highest_revenue_ever_df)] = [film['title'],film_revenue['revenue'], (film_revenue['budget'] * -1), film_revenue['release_date']]

In [222]:
response = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=' +  api_key + '&sort_by=revenue.desc')
highest_revenue_ever = response.json()
highest_revenue_films_ever = highest_revenue_ever['results']

columns = ['film', 'revenue', 'budget', 'release_date']
highest_revenue_ever_df = pandas.DataFrame(columns=columns)

for film in highest_revenue_films_ever:
    # print(film['title'])
   
    film_revenue = requests.get('https://api.themoviedb.org/3/movie/'+ str(film['id']) +'?api_key='+ api_key+'&language=en-US')
    film_revenue = film_revenue.json()
    # print(film_revenue)

    # print(locale.currency(film_revenue['revenue'], grouping=True ))
    
    # Lord of the Rings duplicate w/ bad data was being returned  https://www.themoviedb.org/movie/454499-the-lord-of-the-rings
    # It's budget was $281 which is way too low for a top-earning film. Therefore in order to be added to dataframe the film 
    # budget must be greater than $281.
    
    if film_revenue['budget'] > 281:
        # print(film_revenue['budget'])
        # add film title, revenue, budget and release date to the dataframe
        highest_revenue_ever_df.loc[len(highest_revenue_ever_df)]=[film['title'],film_revenue['revenue'], (film_revenue['budget'] * -1), film_revenue['release_date']]

highest_revenue_ever_df.head()

                           film     revenue      budget release_date
0             Avengers: Endgame  2797800564  -356000000   2019-04-24
1                        Avatar  2787965087  -237000000   2009-12-10
2                       Titanic  2187463944  -200000000   1997-11-18
3  Star Wars: The Force Awakens  2068223624  -245000000   2015-12-15
4        Avengers: Infinity War  2046239637  -300000000   2018-04-25