In [119]:
# import config # to hide TMDB API keys
import requests # to make TMDB API calls
import locale # to format currency as USD 
# locale.setlocale( locale.LC_ALL, '' )
import pandas
import ast

import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter # to format currency on charts axis

import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
# import dash_auth
import plotly.graph_objects as go

api_key = "5083baab3fb25b1e8a35ff20f5cc2539"
api_key2 = "eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1MDgzYmFhYjNmYjI1YjFlOGEzNWZmMjBmNWNjMjUzOSIsInN1YiI6IjVmYTNjZTk2NDM0OTRmMDAzZTE3YTE0ZCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.djtejExijC0WjowuedMC3vD-YKoYYETrkAlkjhZONq0"

In [12]:
# response = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=' +  api_key + '&primary_release_year=2017&sort_by=revenue.desc')

In [13]:
# response = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=' +  api_key)

In [14]:
# response = requests.get('https://api.themoviedb.org/4/list/1?api_key=' + api_key2)

In [34]:
response = requests.get('https://api.themoviedb.org/3/genre/movie/list?api_key=' +  api_key)
genre = response.json()

In [35]:
genres_dict = {}

for genre in genre['genres']:
    genres_dict[genre['id']] = genre['name']

In [37]:
genre = response.json()

In [38]:
genres = []
for genre in genre['genres']:
    genres.append(genre['id'])

In [39]:
# genres_dict = genres

In [40]:
genres = [str(genre) for genre in genres]

In [6]:
# pages =  list(range(movies_by_gen['page'], movies_by_gen['total_pages']+1))

In [42]:
movies_by_gen = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=' + api_key + '&with_genres=' + genres[0] + '&page=1')

In [43]:
movies_by_gen = movies_by_gen.json()

In [44]:
movies_by_gen['total_pages']

500

In [45]:
movies_by_gen_res = movies_by_gen['results']

In [55]:
data_temp = pd.DataFrame(data=movies_by_gen_res)
columns_list = list(data_temp.columns)
columns_list

['adult',
 'backdrop_path',
 'genre_ids',
 'id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'release_date',
 'title',
 'video',
 'vote_average',
 'vote_count']

In [57]:
indices = 0, 1, 4, 8, 11
columns_list = [i for j, i in enumerate(columns_list) if j not in indices]

In [58]:
columns_list

['genre_ids',
 'id',
 'original_title',
 'overview',
 'popularity',
 'release_date',
 'title',
 'vote_average',
 'vote_count']

In [27]:
# movies_by_gen[19]['original_title']

In [28]:
# columns = ['original_title', 'vote_average']
# movies_df = pandas.DataFrame(columns=columns)

In [59]:
pages = list(range(movies_by_gen['page'], movies_by_gen['total_pages'] + 1))
pages = [str(page) for page in pages]

In [60]:
df = []
for genre in genres:
    for page in pages:
        movies = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=' + api_key + '&with_genres=' + genre + '&page=' + page)
        movies = movies.json()
        movies = movies['results']
        data = pd.DataFrame(data=movies, columns=columns_list)
        df.append(data)
df = pd.concat(df)
# , columns=['original_title', 'vote_average']

In [52]:
# df.to_csv('df_movies.csv')

In [91]:
df.head()

,genre_ids,id,original_title,overview,popularity,release_date,title,vote_average,vote_count
0,"[28, 12, 53, 10752]",567189,Tom Clancy's Without Remorse,An elite Navy SEAL uncovers an international c...,5972.653,2021-04-29,Tom Clancy's Without Remorse,7.3,726
1,"[28, 14, 12, 878]",460465,Mortal Kombat,"Washed-up MMA fighter Cole Young, unaware of h...",5911.934,2021-04-07,Mortal Kombat,7.7,2295
2,"[878, 28, 18]",399566,Godzilla vs. Kong,"In a time when monsters walk the Earth, humani...",4015.861,2021-03-24,Godzilla vs. Kong,8.1,5392
3,"[28, 80, 53]",804435,Vanquish,Victoria is a young mother trying to put her d...,4418.897,2021-04-16,Vanquish,6.5,73
4,"[28, 53, 80]",615457,Nobody,"Hutch Mansell, a suburban dad, overlooked husb...",3247.949,2021-03-26,Nobody,8.5,1321

In [70]:
df_clean = df.copy()

In [89]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182928 entries, 0 to 1
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   genre_ids       182928 non-null  object
 1   id              182928 non-null  object
 2   original_title  182928 non-null  object
 3   overview        182928 non-null  object
 4   popularity      182928 non-null  float64
 5   release_date    182618 non-null  object
 6   title           182928 non-null  object
 7   vote_average    182928 non-null  float64
 8   vote_count      182928 non-null  object
dtypes: float64(2), object(7)
memory usage: 18.0+ MB

In [100]:
# df_clean.drop('genre_ids', axis=1, inplace=True)

In [72]:
df_clean.id.value_counts()

526429    8
20077     8
50337     8
11052     8
23738     8
         ..
488783    1
89851     1
67056     1
89841     1
524287    1
Name: id, Length: 117087, dtype: int64

In [80]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182928 entries, 0 to 1
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   genre_ids       182928 non-null  object
 1   id              182928 non-null  object
 2   original_title  182928 non-null  object
 3   overview        182928 non-null  object
 4   popularity      182928 non-null  float64
 5   release_date    182618 non-null  object
 6   title           182928 non-null  object
 7   vote_average    182928 non-null  float64
 8   vote_count      182928 non-null  object
dtypes: float64(2), object(7)
memory usage: 18.0+ MB

In [96]:
df_clean.genre_ids.info

AttributeError: 'Series' object has no attribute 'info'

In [76]:
df_clean.genre_ids = df_clean.genre_ids.apply(ast.literal_eval)

ValueError: malformed node or string: [28, 12, 53, 10752]

In [77]:
df_clean['genre_ids']

0     [28, 12, 53, 10752]
1       [28, 14, 12, 878]
2           [878, 28, 18]
3            [28, 80, 53]
4            [28, 53, 80]
             ...
17               [28, 37]
18                   [37]
19       [28, 12, 18, 37]
0                [35, 37]
1                [37, 35]
Name: genre_ids, Length: 182928, dtype: object

In [78]:
df_clean['genre_ids'][0]

0            [28, 12, 53, 10752]
0                   [16, 28, 14]
0    [878, 28, 12, 9648, 36, 14]
0            [28, 14, 10751, 35]
0                   [27, 28, 35]
                ...
0                           [37]
0                           [37]
0                           [37]
0                   [28, 14, 37]
0                       [35, 37]
Name: genre_ids, Length: 9148, dtype: object

In [97]:
df_clean = df_clean.explode('genre_ids')

In [98]:
df_clean.head()

,genre_ids,id,original_title,overview,popularity,release_date,title,vote_average,vote_count
0,28,567189,Tom Clancy's Without Remorse,An elite Navy SEAL uncovers an international c...,5972.653,2021-04-29,Tom Clancy's Without Remorse,7.3,726
0,12,567189,Tom Clancy's Without Remorse,An elite Navy SEAL uncovers an international c...,5972.653,2021-04-29,Tom Clancy's Without Remorse,7.3,726
0,53,567189,Tom Clancy's Without Remorse,An elite Navy SEAL uncovers an international c...,5972.653,2021-04-29,Tom Clancy's Without Remorse,7.3,726
0,10752,567189,Tom Clancy's Without Remorse,An elite Navy SEAL uncovers an international c...,5972.653,2021-04-29,Tom Clancy's Without Remorse,7.3,726
1,28,460465,Mortal Kombat,"Washed-up MMA fighter Cole Young, unaware of h...",5911.934,2021-04-07,Mortal Kombat,7.7,2295

In [99]:
df_clean['genre'] = df_clean['genre_ids'].map(genres_dict)

In [100]:
df_clean.drop_duplicates(inplace=True)

In [101]:
df_clean.head()

,genre_ids,id,original_title,overview,popularity,release_date,title,vote_average,vote_count,genre
0,28,567189,Tom Clancy's Without Remorse,An elite Navy SEAL uncovers an international c...,5972.653,2021-04-29,Tom Clancy's Without Remorse,7.3,726,Action
0,12,567189,Tom Clancy's Without Remorse,An elite Navy SEAL uncovers an international c...,5972.653,2021-04-29,Tom Clancy's Without Remorse,7.3,726,Adventure
0,53,567189,Tom Clancy's Without Remorse,An elite Navy SEAL uncovers an international c...,5972.653,2021-04-29,Tom Clancy's Without Remorse,7.3,726,Thriller
0,10752,567189,Tom Clancy's Without Remorse,An elite Navy SEAL uncovers an international c...,5972.653,2021-04-29,Tom Clancy's Without Remorse,7.3,726,War
1,28,460465,Mortal Kombat,"Washed-up MMA fighter Cole Young, unaware of h...",5911.934,2021-04-07,Mortal Kombat,7.7,2295,Action

In [102]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 256544 entries, 0 to 1
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   genre_ids       256544 non-null  object
 1   id              256544 non-null  object
 2   original_title  256544 non-null  object
 3   overview        256544 non-null  object
 4   popularity      256544 non-null  float64
 5   release_date    256030 non-null  object
 6   title           256544 non-null  object
 7   vote_average    256544 non-null  float64
 8   vote_count      256544 non-null  object
 9   genre           256544 non-null  object
dtypes: float64(2), object(8)
memory usage: 21.5+ MB

In [103]:
df_clean.shape

(256544, 10)

In [104]:
df_clean.to_csv('df_movies.csv', index=False)

# Wrangling / Analysis

In [105]:
df_clean = pd.read_csv('df_movies.csv')

In [106]:
df_clean.shape

(256544, 10)

In [107]:
df_clean.head()

,genre_ids,id,original_title,overview,popularity,release_date,title,vote_average,vote_count,genre
0,28,567189,Tom Clancy's Without Remorse,An elite Navy SEAL uncovers an international c...,5972.653,2021-04-29,Tom Clancy's Without Remorse,7.3,726,Action
1,12,567189,Tom Clancy's Without Remorse,An elite Navy SEAL uncovers an international c...,5972.653,2021-04-29,Tom Clancy's Without Remorse,7.3,726,Adventure
2,53,567189,Tom Clancy's Without Remorse,An elite Navy SEAL uncovers an international c...,5972.653,2021-04-29,Tom Clancy's Without Remorse,7.3,726,Thriller
3,10752,567189,Tom Clancy's Without Remorse,An elite Navy SEAL uncovers an international c...,5972.653,2021-04-29,Tom Clancy's Without Remorse,7.3,726,War
4,28,460465,Mortal Kombat,"Washed-up MMA fighter Cole Young, unaware of h...",5911.934,2021-04-07,Mortal Kombat,7.7,2295,Action

In [108]:
df_clean['release_date'] = pd.to_datetime(df_clean['release_date'])

In [109]:
df_clean.groupby('genre').popularity.mean()

genre
Action             11.442943
Adventure           9.570470
Animation           6.461545
Comedy              7.247082
Crime               7.689948
Documentary         5.304477
Drama               6.216688
Family              6.765104
Fantasy             7.989966
History             2.826354
Horror              8.194049
Music               3.940938
Mystery             4.861776
Romance             6.487529
Science Fiction     8.688051
TV Movie            4.522136
Thriller           10.114049
War                 3.734855
Western             2.653627
Name: popularity, dtype: float64

In [110]:
df_clean.groupby('genre').vote_average.mean()

genre
Action             4.922040
Adventure          4.842012
Animation          5.148093
Comedy             5.224693
Crime              5.318422
Documentary        4.836837
Drama              5.050092
Family             5.190665
Fantasy            4.355625
History            3.787698
Horror             4.577895
Music              4.615758
Mystery            4.424218
Romance            5.444263
Science Fiction    4.407908
TV Movie           4.686726
Thriller           5.111349
War                3.999972
Western            3.183472
Name: vote_average, dtype: float64

In [111]:
df_clean.groupby('genre').vote_count.mean()

genre
Action             307.327246
Adventure          365.051010
Animation          127.807287
Comedy             177.725643
Crime              185.880584
Documentary         11.856894
Drama              150.044541
Family             186.288965
Fantasy            234.622202
History             60.755508
Horror             120.521716
Music               38.402883
Mystery            124.748954
Romance            154.196477
Science Fiction    270.849195
TV Movie            15.533406
Thriller           235.579048
War                 67.146105
Western             36.078974
Name: vote_count, dtype: float64

In [112]:
df_clean['release_year'] = pd.DatetimeIndex(df_clean['release_date']).year
df_clean['release_month'] = pd.DatetimeIndex(df_clean['release_date']).month

In [113]:
df_clean.dropna(inplace=True)

In [114]:
df_clean.release_year = df_clean.release_year.astype(int)
df_clean.release_month = df_clean.release_month.astype(int)

In [115]:
df_clean = df_clean.query('release_year < 2022')

In [136]:
df_clean.groupby('release_year').vote_count.mean()

release_year
1878     92.000000
1888    124.000000
1892     40.333333
1893     58.000000
1894     19.833333
           ...
2017    235.526999
2018    192.005167
2019    166.316702
2020     82.452975
2021     33.190951
Name: vote_count, Length: 132, dtype: float64

In [137]:
df_clean.shape

(239572, 12)

In [133]:
df_clean.to_csv('df_movies.csv', index=False)

In [118]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239572 entries, 0 to 256535
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   genre_ids       239572 non-null  int64
 1   id              239572 non-null  int64
 2   original_title  239572 non-null  object
 3   overview        239572 non-null  object
 4   popularity      239572 non-null  float64
 5   release_date    239572 non-null  datetime64[ns]
 6   title           239572 non-null  object
 7   vote_average    239572 non-null  float64
 8   vote_count      239572 non-null  int64
 9   genre           239572 non-null  object
 10  release_year    239572 non-null  int32
 11  release_month   239572 non-null  int32
dtypes: datetime64[ns](1), float64(2), int32(2), int64(3), object(4)
memory usage: 21.9+ MB

In [5]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116960 entries, 0 to 116959
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   backdrop_path   66252 non-null   object
 1   id              116960 non-null  int64
 2   original_title  116960 non-null  object
 3   overview        110174 non-null  object
 4   popularity      116960 non-null  float64
 5   poster_path     101826 non-null  object
 6   release_date    115080 non-null  datetime64[ns]
 7   title           116960 non-null  object
 8   vote_average    116960 non-null  float64
 9   vote_count      116960 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(5)
memory usage: 8.9+ MB

In [61]:
df_dash = pd.read_csv('df_movies.csv')

In [62]:
df_dash.head()

,backdrop_path,genre_ids,id,original_title,overview,popularity,poster_path,release_date,title,vote_average,vote_count,genre,release_year,release_month
0,/9yBVqNruk6Ykrwc32qrK2TIE5xw.jpg,28,460465,Mortal Kombat,"Washed-up MMA fighter Cole Young, unaware of h...",4340.628,/xGuOF1T3WmPsAcQEQJfnG7Ud9f8.jpg,2021-04-07,Mortal Kombat,7.8,2120,Action,2021,4
1,/9yBVqNruk6Ykrwc32qrK2TIE5xw.jpg,14,460465,Mortal Kombat,"Washed-up MMA fighter Cole Young, unaware of h...",4340.628,/xGuOF1T3WmPsAcQEQJfnG7Ud9f8.jpg,2021-04-07,Mortal Kombat,7.8,2120,Fantasy,2021,4
2,/9yBVqNruk6Ykrwc32qrK2TIE5xw.jpg,12,460465,Mortal Kombat,"Washed-up MMA fighter Cole Young, unaware of h...",4340.628,/xGuOF1T3WmPsAcQEQJfnG7Ud9f8.jpg,2021-04-07,Mortal Kombat,7.8,2120,Adventure,2021,4
3,/9yBVqNruk6Ykrwc32qrK2TIE5xw.jpg,878,460465,Mortal Kombat,"Washed-up MMA fighter Cole Young, unaware of h...",4340.628,/xGuOF1T3WmPsAcQEQJfnG7Ud9f8.jpg,2021-04-07,Mortal Kombat,7.8,2120,Science Fiction,2021,4
4,/inJjDhCjfhh3RtrJWBmmDqeuSYC.jpg,878,399566,Godzilla vs. Kong,"In a time when monsters walk the Earth, humani...",2385.595,/pgqgaUx1cJb5oZQQ5v0tNARCeBp.jpg,2021-03-24,Godzilla vs. Kong,8.1,5285,Science Fiction,2021,3

In [120]:
df_clean.groupby('genre').popularity.mean()

genre
Action             11.771399
Adventure          10.138550
Animation           6.709673
Comedy              7.567118
Crime               7.974595
Documentary         5.553470
Drama               6.538966
Family              7.231337
Fantasy             8.665804
History             3.264915
Horror              8.358869
Music               4.141554
Mystery             5.253326
Romance             6.666457
Science Fiction     9.115265
TV Movie            4.968128
Thriller           10.375720
War                 4.230024
Western             2.793043
Name: popularity, dtype: float64

In [143]:
grouped = df_clean.groupby('genre').popularity.mean()
fig1 = go.Figure(data=[go.Pie(labels=grouped.index,values=grouped.values)],layout=go.Layout(title='Udział grup produktów w sprzedaży'))

layout = html.Div([html.H1('Produkty',style={'text-align':'center'}),

#                     html.Div([html.Div([dcc.Graph(id='pie-prod-cat',figure=fig1)],style={'width':'50%'}),
#                     html.Div([dcc.Dropdown(id='prod_dropdown',
#                                 options=[{'label':genre,'value':genre} for genre in df_clean['genre'].unique()],
#                                 value=df_clean['genre'].unique()[0]),
#                                 dcc.Graph(id='barh-prod-subcat')],style={'width':'50%'})],style={'display':'flex'}),
#                                 html.Div(id='temp-out'),
# #                    html.Div([dcc.RangeSlider(id='my-range-slider', min=0, max=20, step=0.5, value=[5, 15]),
# #                              html.Div(id='output-container-range-slider')])
#                     ])

fig1.update_traces(hoverinfo='label+percent', textinfo='value', textfont_size=8)

SyntaxError: unexpected EOF while parsing (<ipython-input-143-56e25bf08a1c>, line 16)

In [140]:
fig1.show()

In [222]:
response = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=' +  api_key + '&sort_by=revenue.desc')
highest_revenue_ever = response.json()
highest_revenue_films_ever = highest_revenue_ever['results']

columns = ['film', 'revenue', 'budget', 'release_date']
highest_revenue_ever_df = pandas.DataFrame(columns=columns)

for film in highest_revenue_films_ever:
    # print(film['title'])
   
    film_revenue = requests.get('https://api.themoviedb.org/3/movie/'+ str(film['id']) +'?api_key='+ api_key+'&language=en-US')
    film_revenue = film_revenue.json()
    # print(film_revenue)

    # print(locale.currency(film_revenue['revenue'], grouping=True ))
    
    # Lord of the Rings duplicate w/ bad data was being returned  https://www.themoviedb.org/movie/454499-the-lord-of-the-rings
    # It's budget was $281 which is way too low for a top-earning film. Therefore in order to be added to dataframe the film 
    # budget must be greater than $281.
    
    if film_revenue['budget'] > 281:
        # print(film_revenue['budget'])
        # add film title, revenue, budget and release date to the dataframe
        highest_revenue_ever_df.loc[len(highest_revenue_ever_df)]=[film['title'],film_revenue['revenue'], (film_revenue['budget'] * -1), film_revenue['release_date']]

highest_revenue_ever_df.head()

                           film     revenue      budget release_date
0             Avengers: Endgame  2797800564  -356000000   2019-04-24
1                        Avatar  2787965087  -237000000   2009-12-10
2                       Titanic  2187463944  -200000000   1997-11-18
3  Star Wars: The Force Awakens  2068223624  -245000000   2015-12-15
4        Avengers: Infinity War  2046239637  -300000000   2018-04-25

In [133]:
# highest_revenue_ever_df.shape

NameError: name 'highest_revenue_ever_df' is not defined